@import "./mixins.scss";

.map-desktop {
  width: 90%;
  height: 90%;

  .loader-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 33vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    place-items: center;

    .spinner {
      z-index: 10;
    }

    h4 {
      color: white;
      width: 90%;
      font-size: clamp(1.3rem, 2vw, 12rem);
      margin: 2rem auto 0 auto;
      text-align: center;
    }
  }

  .search-box {
    position: absolute;
    z-index: 10;
    width: 96%;
    left: 2%;

    .search-input {
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 300;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-inline: 30px;
    }

    .module-search-box {
      padding: 5px 10px;
      background-color: white;
      border-left: 2px solid rgb(207, 195, 195);
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        cursor: pointer;
        padding: 5px 15px;
        font-size: 15px;
        border-radius: 50px;
        border: 0.03rem solid rgb(214, 208, 208);
        box-shadow: 4px black;
      }
      .active {
        background-color: salmon;
        color: white;
        border: none;
      }
    }
  }
  .locate-me {
    @include for-mob-screen {
      position: fixed;
    }
    @include for-desktop-screen {
      position: absolute;
    }
    z-index: 1;
    right: 2%;
    background: white;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    display: flex;
    height: 38px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }

  .error-message {
    position: absolute;
    width: 85%;
    left: 5%;
    z-index: 10;
    color: #d6939a;
    font-size: 15px;
    background-color: #f7e7e8;
  }
}
