@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.main-content {
  background: #f9f9f9;
  font-family: "roboto", sans-serif;
  padding-bottom: 30px;
}

.main-content:first-child {
  margin-top: 100px;
}
.small-text {
  font-size: 12px !important;
}

.text-striked {
  text-decoration: line-through;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
}

.hotel-card .hotel-card_images {
  flex: 2;
}
.hotel-card .hotel-card_images .carousel-item img {
  height: 250px;
  object-fit: cover;
}
@media (min-width: 992px) {
  .hotel-card .hotel-card_images .carousel-item img {
    height: 100%;
  }
}

.hotel-card .hotel-card_info {
  flex: 3;
}

.hotel-card .amnities img {
  max-height: 20px;
}

.hotel-card .hotel-checklist {
  list-style-type: none;
}

.carousel .carousel-control-prev {
  background: linear-gradient(to right, #333333bb, #33333300);
}

.carousel .carousel-control-next {
  background: linear-gradient(to left, #333333bb, #33333300);
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  background-color: rgb(9, 9, 68);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.review {
  font-size: 11px;
}
